.headerImg{
  width: 300%;
  margin-top: 10px;
  display:flex;
  position:relative;
  top:50%;
  transform:translateY(-50%);
  overflow-y:hidden;
}

.slide {
  width:33.3%;
  overflow-y:hidden;
}

.start{
  transition: 0.2s;
}

#r1:checked  ~ .start {
  margin-left: 0%;
}

#r2:checked  ~ .start{
margin-left: -33.3%;
}

#r3:checked ~ .start {
margin-left: -66.6%;
}
