/*==================================================================
*
*    Main Page CSS
*    2019.10.20 KimYC1223
*
*==================================================================*/
.main{
  text-align: center;
  align-items: center;
}

.mainPageContent{
  display: inline-block;
  min-height:200px;
  height:250px;
  width:calc(50% - 70px);
  margin:0px 5px;
  padding:10px 10px;
  transition: 0.5s;
}

.titleName{
  border-bottom:2px solid rgb(149, 165, 168);
  margin-bottom:10px;
  height:40px;
  line-height: 40px;
}

.titleKorean{
  float:left;
  font-size:18px;
  transition: 1s;
}

.titleEnglish{
  float:right;
  font-size:10px;
  color:rgb(173, 173, 175);
  transition : 1s;
}

.thumbnail{
  display: block;
  float: left;
  width:100%;
}

.thumbnailTitle{
  display: inline-block;
  width:100%;
  height:20px;
  overflow: hidden;
}

.resentPost{
  width:100%;
}

.resentPost tr {
  height: 20px;
  vertical-align: center;
}

.resentPost td:nth-child(1){
  width: 5%;
}

.resentPost td:nth-child(2){
  width: 80%;
}

.resentPost td:nth-child(3){
  width: 5%;
}

.resentPost td:nth-child(4){
  width: 10%;
}

.tableBox{
  display: inline:;-block;
  float:left;
  width:calc(100% - 10px);
  padding: 5px 5px;
}

.timeTalbeTr, .timeTalbeTr td{
  border-bottom:1px solid rgb(214, 214, 218);
}

.timeTalbeTr, .timeTalbeTr td:nth-child(1){
  width:80%;
}
.timeTalbeTr, .timeTalbeTr td:nth-child(2){
  width:80%;
}

.toPaju, .toSeoul{
  background-color: rgb(58, 146, 223);
  font-size: 12px;
  border-radius: 30px;
  color:white;
}

.toPajuTimeTalbe, .toSeoulTimeTalbe{
  font-size: 12px;
}

.toPaju td:nth-child(1),.toSeoul td:nth-child(3){
  width:40%;
}

.toPaju td:nth-child(2),.toSeoul td:nth-child(2){
  width:60%;
}

.toPaju td:nth-child(1),.toSeoul td:nth-child(3){
  width:0%;
}

.toPaju .susaekText, .toSeoul .pajuText{
  color: rgb(97, 172, 238);
}

.arrowNone {
  color: rgb(133, 193, 246);
}

.arrowNone, .toPaju .susaekText, .toSeoul .pajuText{
  display: none;
}

/*==================================================================
*
*    1024px 해상도 이상 CSS 설정
*    2019.10.19 KimYC1223
*
*==================================================================*/
@media screen and (min-width:1024px) {
  .main{
    height:100%;
  }

  .mainPageContent{
    width:calc(33.3% - 80px);
    height:17.5vw;
  }

  .thumbnailBox{
    display: inline-block;
    float:left;
    width:45%;
  }

  .timeTable{
    display: inline-block;
    width:100%;
    height:13.5vw;
  }

  .timeTable table{
    width:100%;
  }

  .resentPost{
    display: inline-block;
    width:55%;
    height:13.5vw;
  }

  .titleKorean{
    font-size:20px;
  }

  .titleEnglish{
    font-size:16px  ;
  }

  .thumbnail{
    width:100%;
  }

  .thumbnailTitle{
    font-size:13px;
  }

  .thumbnailImg{
    display: block;
    width:100%;
  }

  .resentPost tr {
    height: 2.1vw;
  }

  .tableBox{
    font-size:12px;
  }
  .timeTable tr {
    height: 30px;
  }

  .twoTr{
    display:none;
  }

  .toSeoulTimeTalbe, .toPajuTimeTalbe{
    height:50%;
    font-size: 12px;
  }

  .toPaju, .toSeoul{
    font-size: 16px;
  }

  .toPaju td:nth-child(1),.toSeoul td:nth-child(1){
    width:35%;
  }

  .toPaju td:nth-child(2),.toSeoul td:nth-child(2){
    width:30%;
  }

  .toPaju td:nth-child(3),.toSeoul td:nth-child(3){
    width:35%;
  }

  .arrowNone, .toPaju .susaekText, .toSeoul .pajuText{
    display: inline;
  }
}

/*==================================================================
*
*    1400px 해상도 이상 CSS 설정
*    2019.10.22 KimYC1223
*
*==================================================================*/
@media screen and (min-width:1450px) {
  .twoTr{
    display:table-row;
  }
}

/*==================================================================
*
*    모바일 유저를 위한 CSS 설정
*    2019.10.20 KimYC1223
*
*==================================================================*/
@media screen and (max-width:499px) {
  .mainPageContent{
    width:calc(100% - 60px);
  }
}
