/*==================================================================
*
*    Main Page CSS
*    2019.10.20 KimYC1223
*
*==================================================================*/
.main{
  text-align: center;
  align-items: center;
}

.mainPageContent{
  display:inline-grid;
  min-height:200px;
  height:calc(50vw + 140px);
  width:calc(50% - 70px);
  margin:0px 5px;
  padding:10px 10px;
  transition: 0.5s;
}

.titleName{
  border-bottom:2px solid rgb(149, 165, 168);
  margin-bottom:10px;
  height:40px;
  line-height: 40px;
}

.titleKorean{
  float:left;
  font-size:18px;
  transition: 1s;
}

.titleEnglish{
  float:right;
  font-size:10px;
  color:rgb(173, 173, 175);
  transition : 1s;
}

.thumbnail{
  display: block;
  float: left;
  width:100%;
}

.thumbnailTitle{
  display: inline-block;
  width:100%;
  height:20px;
  overflow: hidden;
}

.resentPost{
  width:100%;
}

.resentPost tr {
  height: 20px;
  vertical-align: center;
}

.resentPost td:nth-child(1){
  width: 5%;
}

.resentPost td:nth-child(2){
  width: 80%;
}

.resentPost td:nth-child(3){
  width: 5%;
}

.resentPost td:nth-child(4){
  width: 10%;
}

.tableBox{
  display: inline-block;
  float:left;
  width:calc(100% - 10px);
  padding: 5px 5px;
  margin-top: -19vw;
}

.timeTable{
  width:100%;
  height: 20vh;
  align-items: center;
  text-align: center;
}

.timeTable tr:nth-child(1) td table{
  position: relative;
  left:50%;
  transform:translateX(-50%);
}

.toSeoulTimeTalbe{
  position: relative;
  left:50%;
  transform:translateX(-50%);
}

.currentTime{
  font-size:14px;
}

.timeTalbeTr, .timeTalbeTr td{
  border-bottom:1px solid rgb(214, 214, 218);
}

.timeTalbeTr, .timeTalbeTr td:nth-child(1){
  width:80%;
}
.timeTalbeTr, .timeTalbeTr td:nth-child(2){
  width:20%;
}

.toPaju, .toSeoul{
  background-color: rgb(58, 146, 223);
  font-size: 12px;
  border-radius: 30px;
  color:white;
}

.toPajuTimeTalbe, .toSeoulTimeTalbe{
  width:100%;
  margin-top:10px;
  margin-bottom: 10px;
  font-size: 12px;
}

.toPaju td:nth-child(1),.toSeoul td:nth-child(3){
  width:40%;
}

.toPaju td:nth-child(2),.toSeoul td:nth-child(2){
  width:60%;
}

.toPaju td:nth-child(1),.toSeoul td:nth-child(3){
  width:0%;
}

.toPaju .susaekText, .toSeoul .pajuText{
  color: rgb(97, 172, 238);
  font-size: 14px;
}

.hwajun, .arrowHighlight, .toPaju .pajuText, .toSeoul .susaekText{
  font-size:14px;
}

.arrowNone {
  color: rgb(133, 193, 246);
  font-size: 14px;
}

.arrowNone, .toPaju .susaekText, .toSeoul .pajuText{
  display: none;
}

.currentTime{
  float : right;
}

.stationImg{
  width:100%;
  height:36vw;
  margin-bottom: 20px;
}

.stationImgTd{
  width:100%;
  background: url('./img/hwajun.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  transition: 0.1s;
  overflow: hidden;
  vertical-align: bottom;
  text-align: left;
  padding: 15px 15px;
}

.stationImgTd:hover {
  background-size: 103% 103%;
}

.clickToNaver{

  color:rgb(255, 255, 255, 0.44);
  transition:0.4s;
  font-size:26px;
}

.clickToNaverDiv{
  width:100%;
  height:35px;
  overflow:hidden;
  padding:0px 0px 0px 0px;
  vertical-align: bottom;
}

.stationImgTd:hover .clickToNaver{
  color:rgba(255, 255, 255);
}


/*==================================================================
*
*    1024px 해상도 이상 CSS 설정
*    2019.10.19 KimYC1223
*
*==================================================================*/
@media screen and (min-width:1024px) {
  .main{
    height:100%;
  }

  .mainPageContent{
    display: inline-block;
    width:calc(33.3% - 80px);
    height:17.5vw;
  }

  .thumbnailBox{
    display: inline-block;
    float:left;
    width:45%;
  }

  .timeTable{
    display: inline-block;
    width:100%;
    height:13.5vw;
  }

  .timeTable table{
    width:100%;
  }

  .resentPost{
    display: inline-block;
    width:55%;
    height:13.5vw;
  }

  .titleKorean{
    font-size:20px;
  }

  .titleEnglish{
    font-size:16px;
  }

  .thumbnail{
    width:100%;
  }

  .thumbnailTitle{
    font-size:13px;
  }

  .thumbnailImg{
    display: block;
    width:100%;
  }

  .resentPost tr {
    height: 2.1vw;
  }

  .tableBox{
    font-size:12px;
    padding-top:5%;
    margin-top: 0;
  }
  .timeTable tr {
    height: 30px;
  }

  .twoTr{
    display:none;
  }

  .toSeoulTimeTalbe, .toPajuTimeTalbe{
    height:50%;
    font-size: 14px;
    margin-top:0px;
    margin-bottom: 0px;
  }

  .toPaju, .toSeoul{
    font-size: 16px;
  }

  .toPaju td:nth-child(1),.toSeoul td:nth-child(1){
    width:35%;
  }

  .toPaju td:nth-child(2),.toSeoul td:nth-child(2){
    width:30%;
  }

  .toPaju td:nth-child(3),.toSeoul td:nth-child(3){
    width:35%;
  }

  .arrowNone, .toPaju .susaekText, .toSeoul .pajuText{
    display: inline;
  }

  .stationImg{
    display: none;
  }
}

/*==================================================================
*
*    1700px 해상도 이상 CSS 설정
*    2019.10.22 KimYC1223
*
*==================================================================*/
@media screen and (min-width:1700px) {
  .twoTr{
    display:table-row;
  }
}

/*==================================================================
*
*    660px 해상도 이하 CSS 설정
*    2019.10.23 KimYC1223
*
*==================================================================*/
@media screen and (max-width:660px) {
  .currentTime{
    display:none;
  }

  .clickToNaver{
    font-size:16px;
  }

  .stationImgTd{
    padding:3px 10px;
  }

  .clickToNaverDiv{
    height:25px;
  }


}

/*==================================================================
*
*    모바일 유저를 위한 CSS 설정
*    2019.10.20 KimYC1223
*
*==================================================================*/
@media screen and (max-width:499px) {
  .mainPageContent{
    width:calc(100% - 60px);
    height:calc(100vw + 140px);
  }

  .tableBox{
    position: relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin-top: 0px;
  }

  .timeTableMotherDiv{
    height:calc(270px);
  }

  .currentTime{
    display: inline;
    font-size:14px;
    line-height: 20px;
  }

  .toPaju, .toSeoul{
    font-size: 16px;
  }

  .toPajuTimeTalbe, .toSeoulTimeTalbe{
    font-size: 14px;
  }

  .toPaju .susaekText, .toSeoul .pajuText{
    font-size: 14px;
  }

  .hwajun, .arrowHighlight, .toPaju .pajuText, .toSeoul .susaekText{
    font-size:14px;
  }

  .stationImg{
    display:none;
  }

}
