/*==================================================================
*
*    Main Page CSS
*    2019.10.20 KimYC1223
*
*==================================================================*/
.main{
  text-align: center;
  align-items: center;
}

.mainPageContent{
  display: inline-block;
  min-height:200px;
  height:250px;
  width:calc(50% - 70px);
  margin:0px 5px;
  padding:10px 10px;
  transition: 0.5s;
}

.titleName{
  border-bottom:2px solid rgb(149, 165, 168);
  margin-bottom:10px;
  height:40px;
  line-height: 40px;
}

.titleKorean{
  float:left;
  font-size:20px;
}

.titleEnglish{
  float:right;
  color:rgb(173, 173, 175);
}

.thumbnail{
  display: block;
  float: left;
  width:100%;
}

.thumbnailTitle{
  display: inline-block;
  width:100%;
  height:20px;
  overflow: hidden;
}

.resentPost{
  width:100%;
}

.resentPost tr {
  height: 20px;
  vertical-align: center;
}

.resentPost td:nth-child(1){
  width: 5%;
}

.resentPost td:nth-child(2){
  width: 80%;
}

.resentPost td:nth-child(3){
  width: 5%;
}

.resentPost td:nth-child(4){
  width: 10%;
}

/*==================================================================
*
*    1400px 해상도 이상 CSS 설정
*    2019.10.19 KimYC1223
*
*==================================================================*/
@media screen and (min-width:1024px) {
  .main{
    height:100%;
  }

  .mainPageContent{
    width:calc(33.3% - 80px);
    height:17.5vw;
    background-color: yellow;
  }

  .mainPageContent2{
    width:calc(33.3% - 80px);
    height:17.5vw;
    display: inline-block;
    margin:0px 5px;
    padding:10px 10px;
    transition: 0.5s;
    background-color: green;
  }


  .thumbnailBox{
    display: inline-block;
    float:left;
    width:45%;
  }

  .timeTable{
    display: inline-block;
    width:55%;
    height:13.5vw;
  }

  .timeTable table{
    width:100%;
  }

  .resentPost{
    display: inline-block;
    width:55%;
    height:13.5vw;
  }

  .thumbnail{
    width:100%;
  }

  .thumbnailTitle{
    font-size:13px;
  }

  .thumbnailImg{
    display: block;
    width:100%;
  }

  .resentPost tr {
    height: 2.1vw;
  }

  .timeTable tr {
    height: 30px;
  }
}

/*==================================================================
*
*    모바일 유저를 위한 CSS 설정
*    2019.10.20 KimYC1223
*
*==================================================================*/
@media screen and (max-width:499px) {
  .mainPageContent{
    width:calc(100% - 60px);
  }
}
